<h1>나의 게시글</h1>
<div class="boxes-wrapper">
    <ng-container *ngFor="let post of posts; let postIndex = index">
      <div class="box">
        <img [src]="'http://localhost:8080/posts/images/' + post.imagePaths[currentIndices[postIndex]]" class="d-block w-100"/>
        <div class="button-group">
          <button (click)="previous(postIndex)"><</button>
          <button (click)="next(postIndex, post.imagePaths.length)">></button>
        </div>
        <!-- Post title -->
        <h2 class="title1">{{ post.title }}</h2>
        <div class="button-group">
          <button (click)="openUpdateForm(post)">게시물 수정하기</button>
          <button (click)="deletePost(post.id)">게시물 삭제하기</button>
        </div>
      </div>
      <div *ngIf="updateFormOpened && selectedPost.id === post.id">
        <div class="form-group" class="content_title">
          <br><label for="titleInput">제목</label>
          <input type="text" id="titleInput" [(ngModel)]="selectedPost.title" name="title">
        </div>
        <!-- 성별 선택 -->
        <div class="form-group" class="content_gender">
          <br><label>성별</label><br>
          <input type='radio' id="maleRadio" [(ngModel)]="selectedPost.gender" name ="gender" value ='male'>
          <label for ='maleRadio'>남성</label><br>
          <input type = 'radio' id = "femaleRadio" [(ngModel)] = "selectedPost.gender " name = "gender " value = 'female'/>
          <label for= "femaleRadio">여성</label><br>
        </div>
        <!-- 스타일 선택 -->
        <div class= "form-group" class="content_style">
          <br><label>스타일 </label><br>
          <input type= 'radio' id='casualRadio' [(ngModel)]='selectedPost.style' name='style' value='casual'>
          <label for='casualRadio'>캐주얼</label><br>
          <input type='radio' id='classicRadio' [(ngModel)]='selectedPost.style' name='style' value='classic'>
          <label for='classicRadio'>클래식</label><br>
          <input type ='radio' id ='modernRadio' [(ngModel)]= 'selectedPost.style' name =' style' value ='modern'/>
          <label for='modernRadio'>모던</label><br>
        </div>
        <!--체형 정보 -->
        <div class="form-group" class="content_body">
          <br><label>체형 정보</label><br>
          <input type="radio" id="thin" [(ngModel)]="selectedPost.body" name='body' value='thin'>
          <label for='thin'> 마른 체형</label>
        </div>
        <!-- 등록 버튼 -->
        <br><button type= "submit" (click)="updatePost(selectedPost.id)">수정하기</button>
      </div>
    </ng-container>
</div>
<h1>옷장</h1>
<div class="boxes-wrapper">
  <ng-container *ngFor="let item of closetItems">
    <div class="box">
      <img [src]="item.imageUrl" alt="{{item.name}}의 이미지" class="item-image">
      <br>
      <div style="font-weight: bold" class="name">
        {{ item.name }}
      </div>
      <div class="brandName">
        {{ item.brand }}
      </div>
      <div class="price">
        {{ item.price | number }}원
      </div>
      <button (click)="removeItem(item.id)">삭제</button>
    </div>
  </ng-container>
</div>
