<div class="grid-container" style="margin-left: 10px; margin-right: 10px;" xmlns="http://www.w3.org/1999/html">
  <div class="grid-item item1">
    <div class="image">
      <button (click)="openImageInput()">불러오기</button>
      <!--<img src="../../../../assets/fit_1.jpeg" alt="fit_1">-->
      <input type="file" id="image-input" style="display: none;" (change)="handleImageChange($event)">
      <img id="preview-image" [src]="''" alt="미리보기 이미지" style="display: none;">
    </div>
  </div>
  <div class="grid-item item3">
    <div class="detect">
      <h1>Image Detection</h1>
      <input type="file" (change)="onFileChange($event)">
      <button (click)="detectObjects()" [disabled]="!imageFile">Detect Objects</button>
      <br>
      <div *ngIf="imageUrl" style="display: inline-block; position: relative;">
        <img [src]="imageUrl" alt="preview" style="width: 300px; max-height: 300px;">
        <div *ngFor="let annotation of objectAnnotations" [ngStyle]="{
                  'border': '2px solid red',
                  'position': 'absolute',
                  'left': (annotation.x * 300) + 'px',
                  'top': (annotation.y * 300) + 'px',
                  'width': (annotation.width * 300) + 'px',
                  'height': (annotation.height * 300) + 'px'
                }">
        </div>
      </div>
      <div *ngIf="objectAnnotations">
        <h2>Detected Objects:</h2>
        <ul>
          <li *ngFor="let annotation of objectAnnotations">
            <strong>Name:</strong> {{ annotation.name }}
            <br>
            <strong>Score:</strong> {{ annotation.score }}
            <br>
            <strong>Average Color:</strong> <span [ngStyle]="{'color': annotation.averageColor}">{{ annotation.averageColor }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--
  <div *ngIf="objectAnnotations">
    <h2>Detected Objects:</h2>
    <ul>
      <li *ngFor="let annotation of objectAnnotations">
        <strong>Name:</strong> {{ annotation.name }}
        <br>
        <strong>Score:</strong> {{ annotation.score }}
      </li>
    </ul>
  </div>
</div>
-->
  <div class="grid-item item2">상품 추천 list</div>
<div class="gcse-search"></div>
</div>
