<div class="wrapper">
  <mat-card>
    <mat-card-title>AvatarS - 로그인</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="아이디를 입력해주세요." formControlName="uid">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="비밀번호를 입력해주세요" formControlName="password">
          </mat-form-field>
        </p>
        <p *ngIf="signInForm.get('uid').touched &&signInForm.get('uid').invalid&&signInForm.get('uid').errors.required" class="error">
          아이디를 입력해주세요.
        </p>
        <p *ngIf="signInForm.get('password').touched&&signInForm.get('password').invalid&&signInForm.get('password').errors.required" class="error">
          비밀번호를 입력해주세요.
        </p>
        <div class="button">
          <button type="submit" mat-stroked-button [disabled]="!signInForm.valid">Login</button>
          <button mat-raised-button color="primary" routerLink="/signup">SignUp</button>
        </div>
      </form>
    </mat-card-content>
    <br>
  </mat-card>
</div>
