.container {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.box {
  width: 400px;
  height: 300px;
  margin-left: 10px;
  margin-bottom: 5px;
  font: 20px/25px Arial, sans-serif;
}

.brandName{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.name{
  font: 20px/40px Arial, sans-serif;
  font-size: 20px;
}

.uid{
  font: 20px/40px Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.title{
  font-size: 20px;
}

.item{
  font: 20px/5px Arial, sans-serif;
  width: 200px;
  height: 250px;
}

h2{
  font: 25px/5px Arial, sans-serif;
}

.item:hover{
  border: 1px solid darkgray;
  cursor: pointer;
}
