<div class="container">
  <div class="box">
    <div class="productImage" >
      <img src="assets/avatar1.jpg" style="width: 400px; height: 600px; border: 1px black;">
    </div>
  </div>
  <div class="box">
    <div class="category" style="font-weight: bold; font-size: small">
      브랜드 모델
    </div>
    <div class="uid">
      황세동
    </div>
    <br>
    <div class="title">
      "캐주얼한 맥코트는 이렇게"
    </div>
    <br>
    <div class="price" style="font-size: medium">
      키 | 172
    </div>
    <div class="style" style="font-size: medium">
      몸무게 | 57
      <br>
      <br>
    </div>
    <p style="font-size: smaller">
      브렌드 모델 황세동님의 아바타입니다. 감각적인 트렌치 코트를 시스루 형태로 착용해주신 모습입니다.
    </p>
  </div>
  <div class="box">
  </div>
</div>
<div style="margin-left: 5px">
  <h2>이 아바타가 착용한 아이템</h2>
  <div class="item">
    <div class="item1">
      <img src="assets/detail1.jpg" style="width: 200px">
      <p style="font-weight: bold; font-size: large">일꼬르소</p>
      <p style="font-size: small">풀 오버 트렌치코트</p>
    </div>
  </div>
</div>
