<div class="wrapper">
  <mat-card>
    <mat-card-title>회원가입</mat-card-title>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Id" formControlName="uid">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" formControlName="password_re">
        </mat-form-field>
      </p>
      <p *ngIf="f.uid.invalid && (f.uid.touched || f.uid.dirty)" class="error">
        유효한 이메일을 입력해주세요.
      </p>
      <p *ngIf="f.password.invalid && (f.password.touched || f.password.dirty) && f.password.errors.required" class="error">
        비밀번호를 입력해주세요.
      </p>
      <p *ngIf="f.password_re.invalid && (f.password_re.touched || f.password_re.dirty) && f.password_re.errors.required" class="error">
        비밀번호를 한번 더 입력해주세요.
      </p>
      <p *ngIf="signUpForm.hasError('notSame')" class="error">
        비밀번호가 일치하지 않습니다.
      </p>
      <p *ngIf="f.name.invalid && (f.name.touched || f.name.dirty) && f.name.errors.required" class="error">
        이름을 입력해주세요.
      </p>
      <div class="button">
        <button type="submit" mat-raised-button [disabled]="!signUpForm.valid" color="primary">가입</button>
      </div>
    </form>
  </mat-card>
</div>
