.all { /* 필수 하단 고정 */
  background-color: #272727;
  border-top: 1px solid #333;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.inner {
  padding: 0px;
}
.menu {
  color: #e6e6e6;
  display: flex;
  justify-content: center;
}
.menu li {
  position: relative;
  margin : 20px;
}
/*
.menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
.menu li:last-child::before {
  display: none;
}
.menu li a {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
  display: block;
}
.menu li a.green {
  color: #669900
}*/
.btn-group {
  color: #e6e6e6;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-group li{
  margin : 20px;
}

/*.btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
.btn-group .btn:last-child {
  margin-right: 0px;
}*/
.info {
  margin-top: 30px;
  text-align: center;
}
.info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
.info span:last-child {
  margin-right: 0;
}
.copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
.logo {
  margin: 30px auto 0;
}
