/*세로 컨텐츠 반응형 처리*/
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*메뉴 반응형 처리*/
mat-sidenav-container{
  display: flex;
  flex: 1;
}

/*상단 메뉴 꽉 차게*/
mat-sidenav-content{
  width: 100%
}

/*왼쪽 메뉴 가로 사이즈 지정*/
mat-sidenav{
  min-width: 200px;
}

/*메뉴 author 태그 스타일 지정, 최초: 화이트, 클릭: 회색*/
a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

/*상단 메뉴 스타일 지정*/
.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/*상단 메뉴 아이콘 스타일 지정*/
.icon{
  display: inline-block;
  height: 25px;
  margin-bottom: 2px;
  margin-right: 15px;
  vertical-align: middle;
  width: 15%;
}

/*풋터 스타일 지정*/
footer{
  padding: 10px 0 10px 0;
  font-size: 12px;
  line-height: 20px;
  background: #3f51b5;
  color: #fff;
  text-align: center;
}

.back{
  font-size: 30px;
  width: 20px;
  align-items: center;
  line-height: 20px;
}

.forward{
  font-size: 40px;
  width: 20px;
}

.arrow{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.arrow>span{
  color: #aaa;
  font-size: 50px;
  margin: 0 10px 0 10px;
  padding: 0;
  line-height: 50px;
  z-index: 3;
}

.slider img{
  position: absolute;
  /*max-width: 30%;*/
  width: auto;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
}

.slider{
  margin-top: 10px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img.active{
  opacity: 1;
}

.shadow-img{
  filter: url(#shadow-filter);
}

.unselect{
  visibility: hidden;
  height: 0;
}

.placer{
  width: 100%;
  margin-top: -40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot{
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 100%;
  margin: 0 5px;
  opacity: 0.5;
}

.selected{
  background-color: #222;
}

.arrowEnd{
  visibility: hidden;
}


.container{
  position: relative;
}

.center-text{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;


  color: white;
  font-size: 60px;
  font-family: ONEMobile;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);

  white-space: nowrap;
  overflow-wrap: normal;

  cursor: pointer;

  /*BackgroundSetting
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
}

.overlay{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 24px;
}

.top a,
.bottom a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body{
  font-family: ONEMobile;
}

.box {
  width: 280px;
  height: 300px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.box_avatar{
  width: 280px;
  height: 500px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.box:hover{
  border: 1px solid darkgray;
  cursor: pointer;
}

.box_avatar:hover{
  border: 1px solid darkgray;
  cursor: pointer;
}

.brandName{
  font-weight: bold;
}

.uid{
  font-weight: bold;
}

.name{
  font-size: small;
}

.title{
  font-size: small;
}

h3{
  font: 20px/40px Arial, sans-serif;
}

@font-face {
  font-family: 'ONEMobile';
  src: url('/assets/fonts/ONEMobileBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'ONEMobile';
  src: url('/assets/fonts/ONEMobileLight.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'ONEMobile';
  src: url('/assets/fonts/ONEMobileRegular.ttf') format('truetype');
  font-weight: 300;
}
