.container{
  margin-left: 5px;
  margin-top: 5px;
}

h1{
  text-align: center;
}

.boxes-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.box{
  width: calc(50% - (1px * 2));
  margin-left: 2px;
}

.title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button{
  text-align: center;
}
