<form (ngSubmit)="submitForm()" #productForm="ngForm" class="container">
  <!--<div>
    <label for="name">id:</label>
    <input type="text" id="_id" name="id" [(ngModel)]="product.id" required>
  </div>-->
  <div>
    <label for="name">상품명:</label>
    <input type="text" id="name" name="name" [(ngModel)]="product.name" required>
  </div>
  <div>
    <label for="category">카테고리:</label>
    <input type="text" id="category" name="category" [(ngModel)]="product.category">
  </div>
  <div>
    <label for="brand">브랜드:</label>
    <input type="text" id="brand" name="brand" [(ngModel)]="product.brand">
  </div>
  <div>
    <label for="price">가격:</label>
    <input type=number id=price name=price [(ngModel)]=product.price required min=0 step=0.01 >
  </div>
  <div>
    <label for="imageUrl">이미지 주소:</label>
    <input type="text" id="imageUrl" name="imageUrl" [(ngModel)]="product.imageUrl">
  </div>

  <div>
    <label for="buyUrl">구매처 주소:</label>
    <input type="text" id="buyUrl" name="buyUrl" [(ngModel)]="product.buyUrl">
  </div>
  <div>
    <label for="tags">태그:</label>
    <input type="text" id="tags" name="tags" [(ngModel)]="tagInput">
    <label for="tags"> (다중 태그는 쉼표(,)를 구분해서 입력해주세요)</label>
  </div>
  <!-- 추가 필드들 -->
  <!-- Submit 버튼 -->
  <button type='submit'>Submit</button>
</form>

<!-- 성공 메시지 -->
<div *ngIf='successMessage'>{{ successMessage }}</div>

<!-- 에러 메시지 -->
<div *ngIf='errorMessage'>{{ errorMessage }}</div>
