.overlay{
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  font-family: ONEMobile, bold;
  width: 100%;
  height: 100%;
}

.search-container {
  /* 기존의 display: none; 제거 및 적절한 위치에 배치 */
  position: absolute;
  left: 50%;
  top: calc(30% + 10px);
  transform: translateX(-50%);
  /* 추가 설정이 필요한 경우, 다른 스타일 속성 추가 */
  display: flex;
  justify-content: center;
}

.search-results{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  text-align: left;
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 50px;
  font-family: ONEMobile, bold;
  font-weight: bold;
  color: white;
}

.top a,
.bottom a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  box-shadow: black;
}

.close-button {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.section.top{
  position: relative;
}
