<!--<div class="overlay" id="overlay" #overlay>-->
<div class="overlay" id="overlay" #overlay (click)="onClickOverlay($event)">
  <div class="section top">
    <a href="http://localhost:4200/search">의류 검색</a>
  </div>
  <div class="section bottom">
    <a href="http://localhost:4200/fitting">가상 피팅</a>
  </div>
  <button class="close-button" (click)="hideOverlay()">X</button>
  <!--<div class="search-container" *ngIf="isSearchVisible">
    <input type="text" placeholder="검색어를 입력하세요..." [(ngModel)]="searchInput"/>
    <button (click)="performSearch(searchInput)">확인</button>
    <button (click)="toggleSearch()">취소</button>
    <div class="search-results">
      <div *ngFor="let item of searchResults">
        <div *ngFor="let item of searchResults">
          <img [src]="item.imageUrl" alt="{{item.name}}의 이미지" style="width: 300px; height: 300px;">
          <br>
          {{ item.name }}
          {{ item.brand }}
          <br>
          <a mat-button [href]="item.buyUrl" target="_blank" rel="noopener noreferrer">구매처 이동</a>
          <a mat-button [href]="item.buyUrl" target="_blank" rel="noopener noreferrer">옷장에 추가</a>
        </div>
      </div>
    </div>
  </div>-->
</div>
