.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider img {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s;
}

.slider img.active {
  opacity: 1;
}
