.searchbar{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 5px;
  display: flex;
  width: 400px;
  height: 40px;
  border: 1px solid black;
  background: white;

}

input{
  font-size: 16px;
  width: 1900px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: right;
}

.example-full-width{
  height: 100px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.submit{
  margin-left: 5px;
  float: right;
}

.submit:hover{
  color: white;
}

button{
  width: 80px;
  height: 100%;
  border: 0px;
  background: black;
  outline: none;
  float: right;
  color: #FFFFFF;
}

button:hover{
  background: white;
  color: black;
}
