/*세로 컨텐츠 반응형 처리*/
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;

}

/*메뉴 author 태그 스타일 지정, 최초: 화이트, 클릭: 회색*/
a{
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: white;
}

/*상단 메뉴 스타일 지정*/
.navigation-items{
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/*상단 메뉴 아이콘 스타일 지정*/
.icon{
  display: inline-block;
  height: 22px;
  margin-bottom: 2px;
  margin-right: 2px;
  vertical-align: middle;
  width: 40%;
}

/*풋터 스타일 지정*/
footer{
  padding: 10px 0 10px 0;
  font-size: 12px;
  line-height: 20px;
  background: black;
  color: white;
  text-align: center;
}

.mat-toolbar.mat-primary {
  background: black;
  color: white;
}

.label1{
  font-size: 15px;
}

.label2{
  font-size: 12px;
}

.hide{
  display: none;
}

.description{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-height: 1200px;
  background-color: white;

}

