<div class="row">
  <div class="" style="width: 500px;">
    <div class="card">
      <!-- When Uses is Not Logged In -->
      <div class="card-body" *ngIf="!userDetails">
        <div class="form-group text-center">
          <button (click) = googleLogin()>구글 로그인</button>
        </div>
      </div>
      <!-- When Uses is Logged In using Email or Google Account -->
      <div class="card-body" *ngIf="userDetails">
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item">이름:
                {{userDetails['displayName']}}</li>
              <li class="list-group-item">이메일: {{userDetails['email']}}</li>
              <li class="list-group-item">이메일 검증 여부:
                {{userDetails['emailVerified']}}</li>
              <li class="list-group-item">
                <button type="button" class="btn btn-danger"
                        (click)="logoutUser()">Logout</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-{{responseMessageType}}" role="alert"
         *ngIf="responseMessage.length">
      {{responseMessage}}
    </div>
  </div>
</div>
