<div class="grid-container" style="margin-left: 10px; margin-right: 10px;">
  <div class="grid-item item1">
    <div class="image">
      <!--<button (click)="openImageInput()">샘플 로드</button>
      <input type="file" id="image-input" style="display: none;" (change)="handleImageChange($event)"><br>
      <button (click)="removePreviewImage()">이미지 제거</button><br>-->
      <img #avatarImage id="avatar-image" src="" alt="미리보기 이미지" style="display: none;">
      <!--<canvas id="canvas"></canvas>-->
      <button (click)="downloadImage()">이미지 다운로드</button>
      <button (click)="handleManImage()">남자 아바타 불러오기</button>
      <img *ngIf="imagePath === '/assets/avatar_man.png'" src="/assets/avatar_man.png" alt="이미지" (click)="zoomIn($event)" class="avatar-image"><br>
      <button (click)="handleWomanImage()">여자 아바타 불러오기</button>
      <img *ngIf="imagePath === '/assets/avatar_woman.png'" src="/assets/avatar_woman.png" alt="이미지" (click)="zoomIn($event)">
      <img *ngIf="selectedTopCategory === 'top1' && selectedTopColor === 'top_color1'" src="/assets/red_tshirt.png" alt="상의 이미지" class="overlay-image" style="position: absolute; top: 150px; left: 15; z-index: 1; width: 210px; height: 260px;">
      <img *ngIf="selectedTopCategory === 'top1' && selectedTopColor === 'top_color2'" src="/assets/blue_tshirt.png" alt="상의 이미지" class="overlay-image" style="position: absolute; top: 150px; left: 15; z-index: 1; width: 210px; height: 260px;">
      <img *ngIf="selectedTopCategory === 'top1' && selectedTopColor === 'top_color3'" src="/assets/green_tshirt.png" alt="상의 이미지" class="overlay-image" style="position: absolute; top: 150px; left: 15; z-index: 1; width: 210px; height: 260px;">
      <img *ngIf="selectedTopCategory === 'top1' && selectedTopColor === 'top_color4'" src="/assets/black_tshirt.png" alt="상의 이미지" class="overlay-image" style="position: absolute; top: 150px; left: 15; z-index: 1; width: 210px; height: 260px;">
      <img *ngIf="selectedTopCategory === 'top1' && selectedTopColor === 'top_color5'" src="/assets/white_tshirt.png" alt="상의 이미지" class="overlay-image" style="position: absolute; top: 150px; left: 15; z-index: 1; width: 210px; height: 260px;">

      <img *ngIf="selectedBottomCategory === 'bottom1' && selectedBottomColor === 'bottom_color2'" src="/assets/blue_short.png" alt="하의 이미지" class="overlay-image" style="position: absolute; top:265px; left: 15; z-index: 1; width: 125px; height: 160px;">
    </div>
  </div>
  <div class="grid-item item2" style="margin-right: 20px">
    <div class="grid-item item4" style="height: 50px;">
      상의 종류<br>
      <select [(ngModel)]="selectedTopCategory" (change)="handleTopCategoryChange($event)">
        <option value="top1">반팔티</option>
        <option value="top2">긴팔티</option>
        <option value="top3">후드티</option>
        <option value="top4">셔츠</option>
        <!-- 추가적인 카테고리 옵션들 -->
      </select>
    </div>
    <div class="grid-item item5" style="height: 40px;"></div>
    상의 색상<br>
    <select [(ngModel)]="selectedTopColor" (change)="handleTopColorChange($event)">
      <option value="top_color1">빨간색</option>
      <option value="top_color2">파란색</option>
      <option value="top_color3">초록색</option>
      <option value="top_color4">검정색</option>
      <option value="top_color5">흰색</option>
      <!-- 추가적인 카테고리 옵션들 -->
    </select>
    <div class="grid-item item6" style="height: 40px;"></div>
    하의 종류<br>
    <select [(ngModel)]="selectedBottomCategory" (change)="handleBottomCategoryChange($event)">
      <option value="bottom1">반바지</option>
      <option value="bottom2">긴바지</option>
      <option value="bottom3">치마</option>
    </select>
    <div class="grid-item item7" style="height: 40px;"></div>
    하의 색상<br>
    <select [(ngModel)]="selectedBottomColor" (change)="handleBottomColorChange($event)">
      <option value="bottom_color1">빨간색</option>
      <option value="bottom_color2">파란색</option>
      <option value="bottom_color3">초록색</option>
      <option value="bottom_color4">검정색</option>
      <option value="bottom_color5">흰색</option>
    </select>
    <div class="grid-item item8" style="height: 100px;">
      <br><br><br>신발 종류<br>
      <select (change)="handleShoesCategoryChange($event)">
        <option value="shoes1">운동화</option>
        <option value="shoes2">슬리퍼</option>
        <option value="shoes3">구두</option>
      </select>
    </div>
    <div class="grid-item item9" style="height: 120px;">
      <br><br><br>성별<br>
      <select (change)="handleSexCategoryChange($event)">
        <option value="sex1">남성</option>
        <option value="sex2">여성</option>
      </select>
    </div>
  </div>
  <div class="grid-item item3">
    <h1>Image Detection</h1>
    <input type="file" (change)="onFileChange($event)">
    <button (click)="detectLabels()" [disabled]="!imageFile">Detect Labels</button>

    <div *ngIf="labels">
      <h2>Detected Labels:</h2>
      <ul>
        <li *ngFor="let label of labels">
          <strong>Description:</strong> {{ this.label.description }}
          <br>
          <strong>Score:</strong> {{ this.label.score }}
        </li>
      </ul>
    </div>
    내 코디와 비슷한 아이템 추천

    <div class="search-container">
      <form (submit)="searchProducts(searchValue.value)">
        <input type="text" #searchValue placeholder="검색어 입력" />
        <button type="submit">검색</button>
      </form>
    </div>

    <div class="results-container">
      <div *ngFor="let product of productResults" class="product-card">
        <img [src]="product.imageUrl" />
        <div class="product-title">{{ product.name }}</div>  <!-- 'name'으로 변경 -->
        <div class="product-price">{{ product.price }}</div>
      </div>
    </div>


  </div>
</div>
