<div class="container">
  <div class="row input-div">
    <div class="image-box col-sm-12 col-xl-6">
      <div class="title">모델 선택</div>
      <div class="image">
        <input type="file" id="modelInput" style="display: none;" (change)="handleImageChange($event, 'modelPreview', 'modelImg','modelInput')">
        <img class="preview" id="modelPreview" src='/assets/modelSample.png' alt="모델 예시 이미지 ">
      </div>
      <div id="btn_group">
        <button class="buttonSet" (click)="imageInput('modelInput')">이미지 불러오기</button>
      </div>
    </div>
    <div class="image-box col-sm-12 col-xl-6">
      <div class="title">옷 선택</div>
      <div class="image">
        <input type="file" id="clothesInput" style="display: none;" (change)="handleImageChange($event, 'clothesPreview', 'clothesImg','clothesInput')">
        <img class="preview" id="clothesPreview" src='/assets/clothesSample.png' alt="의상 이미지">
      </div>
      <div id="btn_group">
        <button class="buttonSet" (click)="imageInput('clothesInput')">이미지 불러오기</button>
      </div>
    </div>
  </div>
</div>
<div class="result-button-container">
  <button class="buttonSet" (click)="sendImageInput()">가상 피팅하기</button>
  <button class="buttonSet" (click)="openImageDialog()">결과 보기</button>
</div>
<hr>
<div class="title">{{ username }}님의 옷장</div>
<div class="boxes-wrapper">
  <ng-container *ngFor="let item of closetItems">
    <div class="box">
      <div class="overlay">
        <button class="button button-apply" (click)="applyCloth(item.imageUrl)">입히기</button>
        <a [href]="item.buyUrl" target="_blank">
          <button class="button button-apply">구매처</button>
        </a>
      </div>
      <img class="item-image" [src]="item.imageUrl"/>
      <div class="brandName">{{ item.brandName }}</div>
      <div class="name">{{ item.name }}</div>
    </div>
  </ng-container>
</div>
<!--<div class="closet-container">
  <div class="cloth">
    <div class="Guide">황세동님의 옷장</div>
    <div class="boxes-wrapper">
      <div class="box">
        <div class="overlay">
          <button class="button button-apply" (click)="applyCloth('assets/1.jpg')">입히기</button>
          <a href="https://www.musinsa.com/app/goods/3132559" target="_blank">
            <button class="button button-buy">구매처</button>
          </a>
        </div>
        <img src="assets/1.jpg"/>
        <div class="brandName">1993STUDIO</div>
        <div class="name">[LG트윈스] 빈티지 바시티 자켓_블랙</div>
      </div>
    </div>
  </div>
</div>-->
