/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/*메뉴 반응형 처리*/
mat-sidenav-container{
  display: flex;
  flex: 1;
}

/*상단 메뉴 꽉 차게*/
mat-sidenav-content{
  width: 100%
}

/*왼쪽 메뉴 가로 사이즈 지정*/
mat-sidenav{
  min-width: 200px;
}


.item-image{
  border-radius:11%;
}

html, body{
  height: 100%;
  margin: 0;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title {
  height: auto;
  font-size: 36px;
  margin: 36px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  line-height: 1;
  text-align: left;
}

.buttonSet{
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin: 5px;
  font-size: 20px;
  color: #50586C;
  background-color: #E8E8e8;
}

.preview{
  height: 600px;
  width:450px;
  padding: 5px;
  border-radius: 11%;

}

hr {

  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
