<div class="container">
  <div class="search-container" *ngIf="isSearchVisible">
    <div class="search-box">
      <input type="text" placeholder="검색어를 입력하세요..." [(ngModel)]="searchInput" class="searchInput"/>
      <div class="search">
        <button (click)="performSearch(searchInput)">확인</button>
        <button (click)="toggleSearch()">취소</button>
      </div>
    </div>
    <div class="center-container">
      <select [(ngModel)]="selectedCategory" class="select-box">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="title">상품 검색 결과</div>

    <div class="search-results">
      <div *ngFor="let item of localResults" class="item-container">
        <img [src]="item.imageUrl" alt="{{item.name}}의 이미지" style="width: 300px; height: 300px;" class="item-image">
        <br>
        <div style="font-weight: bold" class="item-name">
          {{ item.name }}
        </div>
        <div class="item-brand">
          {{ item.brand }}
        </div>
        <div class="item-price">
          {{ item.price | number }}원
        </div>
        <div class="move">
          <a mat-button [href]="item.buyUrl" target="_blank" rel="noopener noreferrer">구매처 이동</a>
          <a mat-button (click)="addToCloset(item)">옷장에 추가</a>
        </div>
      </div>
      <div *ngIf="localResults.length === 0">
        검색 결과가 없습니다.
      </div>
    </div>
    <div class="title">상품 추천</div>

    <div class="api-result" style="margin-top: 20px;">
      <div *ngFor="let item of apiResults" class="item-container">
        <img [src]="item.image" alt="{{item.name}}의 이미지" style="width: 300px; height: 300px;" class="item-image">
        <br>
        <div style="font-weight: bold" class="item-name">
          {{ item.title }}
        </div>
        <div class="item-brand">
          {{ item.mallname }}
        </div>
        <div class="item-price">
          {{ item.lprice | number }}원
        </div>
        <div class="move">
          <a mat-button [href]="item.link" target="_blank" rel="noopener noreferrer">구매처 이동</a>
          <a mat-button [href]="item.link" target="_blank" rel="noopener noreferrer">옷장에 추가</a>
        </div>
      </div>
      <div *ngIf="apiResults.length === 0">
        추천 결과가 없습니다.
      </div>
    </div>
  </div>
</div>
