.container{
  display: flex;
}

.search-container {
  width: 1300px; /* 최소 너비 설정 */
  margin: auto; /* 자동 마진으로 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수평 중앙 정렬 */
}

.notice{
  width: 300px;
}

select{
  border:none;
  padding:10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}

.search-box {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100px;
  height: 50px;
}
.searchInput {
  width: 1000px;
  height: 30px;
  font-size: 18px;
  border: none;
  border-bottom: 1px black solid;
}

.search button {
  font-size: 18px;
  border: none;
  background-color: black;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

.search button:hover {
  font-size: 18px;
  border: none;
  background-color: white;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

.search-results {
  margin-top: 10px;
  display:flex;
  flex-wrap:wrap;
}

.api-result{
  text-overflow: ellipsis;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.move{
  display:flex;
  margin-left: 43px;
}

.item-container {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.item-image {
  width: 90%;
  height: auto;
}

.item-name,
.item-brand {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
